<div class="nav-desktop-container">
    <header class="header">
        <nav class="navbar">
            <ul class="desktop-navbar">
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                
                <li class="dropdown">
                    <button class="dropbtn">Secciones <span class="dropdown-arrow">▼</span></button>
                    <div class="dropdown-content">
                        <a href="#horarios">Horarios</a>
                        <a href="#links-utiles">Links Útiles</a>
                        <a href="#profesores">Profesores</a>
                    </div>
                </li>
                
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
</div>