# Entorno virtual de Python
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Otros archivos que Python/Flask pueden generar
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg