<section id="posts" class="content-section">
    <h2 class="articulo-titulo left">Posts</h2>
    <ul>
        <li class="post">
            <h5 class="fecha center no-margin">25 marzo 2025</h5>
            <h3 class="titulo center no-margin-top">Cambio de aula</h3>
            <p>Las clases se dictaran en el aula E7, disculpen las molestias</p>
            <p class="firma-profesor">Ing. Pablo Paiva</p>
        </li>
        <li class="post">
            <h5 class="fecha center no-margin">20 marzo 2025</h5>
            <h3 class="titulo center no-margin-top">Clases presenciales</h3>
            <p>Hola gente, los espero el martes en el aula 511, la guia practica en link utiles, traigan todas sus dudas los espero . PD: cualquier cambio de aula lo esten atentos lo posteare por aca</p>
            <p class="firma-profesor">Ing. Pablo Paiva</p>
        </li>
    </ul>
</section>