<section id="profesores" class="content-section">
    <h2>Profesores</h2>
    <ul>
        <li class="col">
            <div class="row">
                <img class="img-profes" src="{{ url_for('static', filename='img/musso.jpg') }}" alt="Ing. Musso">
                <p class="vCenter">Ing. Musso</p>
            </div>
        </li>
        <li class="col">
            <div class="row">
                <img class="img-profes" src="{{ url_for('static', filename='img/paiva.jpg') }}" alt="Ing. Paiva">
                <p class="vCenter">Ing. Paiva</p>
            </div>
        </li>
    </ul>
</section>