{%extends 'base.html' %}

{% block title %}
Organización del Computador de la Cátedra Musso Rodriguez - Paiva
{% endblock %}

{% block content %}
    <h1 class="zilla-slab-medium-italic">ORGANIZACION DEL COMPUTADOR</h1>
    <h3 class="roboto-500">Curso 5 - Musso Rodriguez - Paiva</h3>
    <p class="center">
        Este es el sitio de la materia Organización del Computador de la Facultad de Ingeniería de la Universidad de Buenos Aires (FIUBA).
    </p>
    <h2 class="left">Links utiles</h2>
    <ul>
        <li>
            <a class="link" href= "https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fmeetup-join%2F19%3Ameeting_M2M0ZWNjNTktYjAzYS00ZDVjLWE4N2EtYTA4ZTI1YjIwODJi%40thread.v2%2F0%3Fcontext%3D%257b%2522Tid%2522%253a%2522e13f1e52-6e32-4972-82ca-697420ee3c98%2522%252c%2522Oid%2522%253a%2522f2fd1fc0-7baf-4300-a831-186dc44305bb%2522%257d%26anon%3Dtrue&type=meetup-join&deeplinkId=5079bc3e-1ced-4003-9794-ee5cfa7f6f6b&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true">Meet TEAMS</a>    
        </li>
        <li>
            <a class="link" href="https://drive.google.com/drive/folders/1yX9t2ks1hKPNHcu7mN8v_G3bH0H9cYk2?usp=sharing">Lista de ejercicios</a>
        </li>
        <li>
            <a class="link" href="{{ url_for('static', filename='pdf/libro.pdf') }}" download>Descargar libro Murdocca</a>
        </li>

    </ul>

    <h2>Profesores</h2>
    <ul>
        <li class="col">
            <div class="row">
                <img class="img-profes" src="{{ url_for('static', filename='/images/paiva.jpg') }}" alt="">
                <p class="vCenter">Ing. Paiva</p>
            </div>
        </li>
        <li class="col">
            <div class="row">
                <img class="img-profes" src="{{ url_for('static', filename='/images/musso.jpg') }}" alt="">
                <p class="vCenter">Ing. Musso</p>
            </div>
        </li>
    </ul>
{% endblock %}
