{% extends 'base.html' %}

{% block title %}
    Organización del Computador de la Cátedra Musso Rodriguez - Paiva
{% endblock %}

{% block content %}
    <h1 class="zilla-slab-medium-italic">ORGANIZACION DEL COMPUTADOR</h1>
    <h3 class="roboto-500">Curso 5 - Musso Rodriguez - Paiva</h3>
    <p class="center">
        Este es el sitio de la materia Organización del Computador de la Facultad de Ingeniería de la Universidad de Buenos Aires (FIUBA).
    </p>
    
    {% include 'sections/horarios.html' %}
    {% include 'sections/links.html' %}
    {% include 'sections/profesores.html' %}
{% endblock %}
